.class-container{
    position: relative;

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $light;
        height: 50%;

    }
}

